body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  
  
}

header {
  background-color: #E10600;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

nav {
  background-color:black;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
}

section {
  padding: 20px;
  width: 100%;
  background-color:#000;
  color: #fff;
}
section p {
margin-bottom: 3%;
}
h2 {
font-size: 3rem;
}
p {
font-size: 1rem;
margin-left: 613px;
}

section h1 {
font-size: 4rem;
color: #E10600;


}
section  img {
border-radius: 20px;
float: left;
margin-left: 0.3px;
}
.section-2  table {
margin-right: 100px;
}

p {
font-size: 1rem;
}
details {
font-size: 2rem;
color: #E10600;
}
.mini-section {
padding: 20px;
width: 100%;
background-color: #000;
color: #f3f3f3;
}
.mini-section img { 
border-radius: 30px;

}
.mini-section  p {
font-size: 1.5rem;
margin-left: 0;
color:#fff;
font-family: "Poppins";
}
.mini-section table th {
font-size: 1.8rem;
color: #fff;
}
.mini-section table tr th {
  color: #E10600;
  font-style: italic;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  height : 300;
  bottom: 50;
  width: 100%;
  
}
