* {
  margin: 0%;
  padding: 0%;
}
  body {
      font-family: Poppins;
    background-color: #f3f3f3;
  } 
  
  header {
      background-color: #E10600;
      color: #fff;
      padding: 20px;
      text-align: center;
      width: 100%;
  }

  span {
    font-size: 2rem;
  }

  nav {
      background-color:black;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      width: 100%;
  }

  nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-size: 1.5rem;
  }

  section {
      padding: 20px;
      width: 100%;
      background-color:#000;
      color: #fff;
  }

  section h1 {
    font-size: 4rem;
    color: #E10600;
  }

  section span {
    font-size: 2rem;
    margin-top: 60px;
  }

.section-2 h1 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .section-2 img {
    border-radius: 30px;
  }

  .section-2 p {
    font-size: 1.2rem;
    color: #fff;
  }

  footer {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      height : 300;
      bottom: 50;
      width: 100%;
  }
  